<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>re-entry form</h2>
        <form action="/update" method="post" enctype="multipart/form-data">
            <!-- take hidden format id -->
            <input type="hidden" name="uid" value="<%=viewdata._id%>">
            <div class="form-group">
                <label for="pname">Product-Name:</label>
                <input type="text" class="form-control" id="pname" placeholder="Enter Product Name" name="pname" value="<%=viewdata.pname%>">
            </div>
            <div class="form-group">
                <label for="size">Size:</label>
                <input type="text" class="form-control" id="size" placeholder="Enter Size" name="size" value="<%=viewdata.size%>">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" class="form-control" id="price" placeholder="Enter Price" name="price" value="<%=viewdata.price%>">
            </div>
            <div class="form-group">
                <label for="image">Upload Image:</label>
                <input type="file" class="form-control" id="image" placeholder="upload image" name="image" value="<%=viewdata.image%>">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

</body>

</html>